.App-header {
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
 background: rgba(156, 131, 96, 0.9);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  max-width: 800px;
  display: block;
}

.App-footer {
  font-size: 12px;
  text-align: center;
  max-width: 400px;
  display: block;
  margin: 0px auto;
  padding-bottom: 25px;
  color: rgb(236, 222, 195);
}

a {
  color: #9a7b4f;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: peru;
  font-weight: bold;
}

header .quote {
  font-size: 18px;
  font-weight: 600;

  margin: 20px 0 5px;
  font-family: "Nothing You Could Do", cursive;
}

header .quote-author {
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  margin: 0;
  font-family: "Nothing You Could Do", cursive;
}

header h1 {
  color: #632a0d;
  font-weight: bold;

  font-size: 50px;
}
