.Meaning h3 {
  color: #632a0d;
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
 
}

.Meaning .definition {
  text-align: justify;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 19px;
}

.Meaning .example {
  font-size: 15px;
  font-style: italic;
}
